#products {
  height: 120vh;
}
.header-products {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > h1 {
    padding-top: 70px;
    margin-left: 83px;
    font: 600 90px "Syne";
    border-bottom: 2px #161615 solid;
  }

  .star {
    position: relative;
    top: 89px;
    right: 58%;
  }

  .arrows {
    margin-top: 137px;
    width: 220px;
    margin-right: 104px;

    img {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.products-container {
  margin-left: 67px;
  margin-top: 34px;
  padding-left: 28px;
  display: flex;
  // width: 100vw;
  overflow : hidden;

  .products-category {
    a {
      display: block;
      width: 158px;
      height: 31px;
      font: 400 18px "Work Sans";
      color: black;
      transition: all 0.2s;
      margin-bottom: 23px;

      &:hover {
        font: 600 26px "Syne";
      }
    }
  }
}

#product-list {
  margin-left: 97px;
  display: flex;
  align-items: stretch;
  overflow: hidden;

  .product-card {
    height: 500px;
    width: 310px;
    margin-right: 26px;

    .card-images {
      img {
        width: 310px;
        height: 322px;
        object-fit: contain;
        &:hover{
          cursor: pointer;
        }
      }

      .icon {
        height: 45px;
        width: 45px;
        position: relative;
        left: 263px;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      padding: 0 8px;
      width: 100%;
      span {
        display: block;
        height: 55px;
        overflow: hidden;
        padding: 8px 0;
        color: rgba(22, 22, 21, 0.5);
        font: 400 14px "work sans";
      }
    }
  }
}
